<!DOCTYPE html>
<html lang="en">
  <head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>Intelligent Banking Bot</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- mobile specific metas
    ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/main.css" />

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
  </head>

  <body id="top">
    <div id="preloader">
      <div id="loader"></div>
    </div>

    <!-- header 
    ================================================== -->
    <header class="s-header">
      <nav class="row header-nav-wrap wide">
        <ul class="header-main-nav">
          <li class="current">
            <a
              class="smoothscroll"
              href="#home"
              title="intro"
              >Intro</a
            >
          </li>
          <li>
            <a
              class="smoothscroll"
              href="#about"
              title="about"
              >About</a
            >
          </li>
        </ul>

        <ul class="header-social">
          <li>
            <a href="#0"
              ><i
                class="fab fa-twitter"
                aria-hidden="true"
              ></i
            ></a>
          </li>
          <li>
            <a href="#0"
              ><i
                class="fab fa-github"
                aria-hidden="true"
              ></i
            ></a>
          </li>
        </ul>
      </nav>

      <a class="header-menu-toggle" href="#"
        ><span>Menu</span></a
      >
    </header>
    <!-- end header -->

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section">
      <div class="home-image-part"></div>

      <div class="home-content">
        <div class="row home-content__main wide">
          <h1>
            An Intelligent Banking Bot <br />
            That Does It All.
          </h1>

          <h3>
            Our virtual agent delivers on many ways, from
            making it easy for clients to find what they are
            looking for to providing new and interactive
            ways to do their banking using voice.
          </h3>

          <div class="home-content__button">
            <a class="btn-video" href="#" data-lity>
              <span class="video-icon"></span>
            </a>
            <a class="btn btn--primary btn--large" href="auth/login">
              Get Started
            </a>
          </div>
        </div>
        <!-- end home-content__main -->

        <a href="#about" class="home-scroll smoothscroll">
          <span class="home-scroll__text">Scroll Down</span>
          <span class="home-scroll__icon"></span>
        </a>
      </div>
      <!-- end home-content -->
    </section>
    <!-- end s-home -->

    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
      <div
        class="row section-header narrower align-center"
        data-aos="fade-up"
      >
        <div class="col-full">
          <h1 class="display-1">
            The Most Efficient Virtual Banking Web App.
          </h1>
          <p class="lead">
            Our intelligent virtual assistant responds to
            customer inquiries in a way that delivers a more
            intuitive and personalized banking experience.It
            has the ability to predict customer needs by
            analyzing accounts and transactions to present
            context-aware topics and messages to
            customers.It is ...
          </p>
        </div>
      </div>
      <!-- end section-header -->

      <div class="row about-desc" data-aos="fade-up">
        <div
          class="col-full slick-slider about-desc__slider"
        >
          <div class="about-desc__slide">
            <h3 class="item-title">Powerful.</h3>

            <p>
              It can Initiate transfers, bill payments, make
              transactions and deposits, Request detailed
              information on accounts and transactions
              Obtain information on interest earned and
              saving/spending patterns
            </p>
          </div>
          <!-- end about-desc__slide -->

          <div class="about-desc__slide">
            <h3 class="item-title">User-Friendly.</h3>

            <p>
              Our IBB (Intelligent Banking Bot) agent is
              friendly and has conversational knowledge
              including the ability to engage clients with
              salutations and well wishes such as "happy
              birthday"
            </p>
          </div>
          <!-- end about-desc__slide -->

          <div class="about-desc__slide">
            <h3 class="item-title">Smart.</h3>

            <p>
              Using automated intelligence and customer data
              profiles, the agent anticipates customers'
              needs and approaches them with relevant
              solutions.It will give a deep awareness to
              customers of their bank a/c
            </p>
          </div>
          <!-- end about-desc__slide -->

          <div class="about-desc__slide">
            <h3 class="item-title">Secure.</h3>

            <p>
              The agent is designed with a sense of
              security.We make sure we log out customers
              immediately they finish their interaction with
              the banking agent.We are also in the process
              of implementing Two-Factor auth
            </p>
          </div>
          <!-- end about-desc__slide -->
        </div>
        <!-- end about-desc__slider -->
      </div>
      <!-- end about-desc -->

      <div
        class="row about-bottom-image"
        data-aos="fade-up"
      ></div>
    </section>
    <!-- end s-about -->

    <!-- process
    ================================================== -->
    <section id="process" class="s-process">
      <div class="row">
        <div
          class="col-full text-center"
          data-aos="fade-up"
        >
          <h2 class="display-2">How The App Works?</h2>
        </div>
      </div>

      <div
        class="row process block-1-4 block-m-1-2 block-tab-full"
      >
        <div
          class="col-block item-process"
          data-aos="fade-up"
        >
          <div class="item-process__text">
            <h3>Login</h3>
            <p>
              To proceed using the intelligent virtual agent
              you must first Login to your account using
              your bank account no and pin
            </p>
          </div>
        </div>
        <div
          class="col-block item-process"
          data-aos="fade-up"
        >
          <div class="item-process__text">
            <h3>Verification</h3>
            <p>
              After entering your credentials we search for
              your information in our servers to determine
              whether you have to right access to continue
            </p>
          </div>
        </div>
        <div
          class="col-block item-process"
          data-aos="fade-up"
        >
          <div class="item-process__text">
            <h3>Granted Access</h3>
            <p>
              You are only granted access to continue to use
              the intelligent virtual agent only after being
              verified
            </p>
          </div>
        </div>
        <div
          class="col-block item-process"
          data-aos="fade-up"
        >
          <div class="item-process__text">
            <h3>Boom</h3>
            <p>
              You can now start interacting with the agent.
              Ask any related query you might have and wait
              to be served
            </p>
          </div>
        </div>
      </div>
      <!-- end process -->

      <div
        class="row process-bottom-image"
        data-aos="fade-up"
      ></div>
    </section>
    <!-- end s-process -->

    <!-- footer
    ================================================== -->
    <footer class="s-footer footer">
      <div class="row footer__top">
        <div class="col-six md-full">
          <h1 class="display-2">
            Let's Stay In Touch.
          </h1>
          <p class="lead">
            Subscribe for special updates, notifications and
            more.
          </p>
        </div>
        <div class="col-six md-full footer__subscribe end">
          <div class="subscribe-form">
            <form
              id="mc-form"
              class="group"
              novalidate="true"
            >
              <input
                type="email"
                value=""
                name="EMAIL"
                class="email"
                id="mc-email"
                placeholder="Email Address"
                required=""
              />

              <input
                type="submit"
                name="subscribe"
                value="Sign Up"
              />

              <label
                for="mc-email"
                class="subscribe-message"
              ></label>
            </form>
          </div>
        </div>
      </div>

      <div class="row footer__bottom">
        <div class="col-five tab-full">
          <div class="footer__logo"></div>

          <p>
            Made with <i class="fas fa-headphones"></i> and 
            <i class="fas fa-coffee"></i> by Kennah. <br>
            Design powersource &rarr; Colorlib
          </p>

          <ul class="footer__social">
            <li>
              <a href="#0"
                ><i
                  class="fab fa-github"
                  aria-hidden="true"
                ></i
              ></a>
            </li>
            <li>
              <a href="#0"
                ><i
                  class="fab fa-twitter"
                  aria-hidden="true"
                ></i
              ></a>
            </li>
          </ul>
        </div>

        <div class="col-six tab-full end">
          <p class="footer__contact">
            Do you have a question? Send me a word: <br />
            <a href="mailto:#0" class="footer__mail-link"
              >Kennyadduz@gmail.com</a
            >
          </p>

          <div class="cl-copyright">
            <span>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved 
            </span>
          </div>
        </div>
      </div>

      <div class="go-top">
        <a
          class="smoothscroll"
          title="Back to Top"
          href="#top"
        ></a>
      </div>
    </footer>
    <!-- end s-footer -->

    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
